@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
}

:root{
    --primary-dark-blue-color: hsl(233, 26%, 24%);
    --primary-shadow-dark-blue-color: hsla(233, 26%, 24%, 0.356);

    --primary-lime-green-color: hsl(136, 65%, 51%);
    --primary-bright-cyan: hsl(192, 70%, 51%);

    --neutral-grayish-blue-color: hsl(233, 8%, 62%);
    --neutral-light-grayish-blue: hsl(220, 16%, 96%);
    --neutral-very-light-gray: hsl(0, 0%, 98%);
    --neutral-white-color: hsl(0, 0%, 100%);
}

body{
    font-family: 'Public Sans', sans-serif;
    font-size: 18px;
    display: block

}


.horizontal__menu{
    visibility: hidden;
}


.navigation{
    display:flex;
    justify-content: space-between;
    padding: 10px;
}

.navigation__menu{
    padding-top: 8px;
    padding-right:.9rem;
    visibility: visible;
    cursor: pointer;
}

.menu__square{
    width: 300px;
    height: 300px;
    position: absolute;
    top:100px;
    right:20px;
    background-color: var(--neutral-white-color);
    border-radius: 10px;
    z-index: 2000;
    box-shadow: 100px 10px 800px 800px var(--primary-shadow-dark-blue-color);
    
}

.horizontal__menu{
    display: flex;
}

.horizontal__menu li{
    list-style: none;
    padding-left: 1.2rem;
}

.horizontal__menu li a{
    text-decoration: none;
    color: var(--primary-dark-blue-color);
    padding-bottom: 3px;
}

.horizontal__menu li a:hover{
    border-bottom: 2px solid var(--primary-bright-cyan);
}


.links{
    list-style: none;
    text-align: center;
    padding: 2vh 1vw;
}

.links a{
    text-decoration: none;
    color: var(--primary-dark-blue-color);
}

.navigation__image{
    height: 2.2rem;
    padding-top: 9px;
    padding-left:10px;
    padding-right: 10px;
    color: var(--neutral-very-light-gray);
    cursor: pointer;
}



header{
    display: flex;
    flex-direction: column-reverse;
    align-content: flex-start;
    background-color: var(--neutral-white-color);

}

.header__intro{
    margin-top: 60vh;
    margin-right: 10vw;
    margin-left:10vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 10vh;

}

.header__intro h1{
    font-weight: 400;
    color:var(--primary-dark-blue-color);
    margin-bottom: 3vh;
    text-align: center;
}

.header__intro--paragraph{
    font-size: .85rem;
    line-height: 1rem;
    color: var(--neutral-grayish-blue-color);
    text-align: center;
    opacity: .9;
    margin-bottom: 3vh;
}

.horizontal-btn{
    padding: 1.7vh 2vw;
    margin-left: 3rem;


}

.btn{
    border: none;
    border-radius: 20px;
    padding: 1.7vh 7vw;
    color: var(--neutral-white-color);
    font-weight: 400;
    background-image: linear-gradient(to right bottom, var(--primary-lime-green-color), var(--primary-bright-cyan));
    cursor: pointer;
}

.header__intro--image{
    position: relative;
}

.image-mockups{
 width: 100%;
 position: absolute;
 top:0;
 left: 0;
}


.bg-intro-mobile{
    opacity: 1;
    position: absolute;
    top:0;
    right:0;
    
}

.why-choose-easybank-section{
    background-color: var(--neutral-very-light-gray);
    padding-top: 10vh;
}
.why-choose-easybank-section__description{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.why-choose-easybank-section__description h2{
    font-weight: 300;
    font-size: 2.2rem;
    color:var(--primary-dark-blue-color);
    margin-bottom: 3vh;
    text-align: center;
}

.why-choose-easybank-section__description--paragraph{
    font-size: 1rem;
    line-height: 1.5rem;
    color: var(--neutral-grayish-blue-color);
    text-align: center;
    opacity: .9;
    margin-bottom: 7vh;
}

.choose-easy-bank__reason{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.choose-easy-bank__reason p{
    font-size: .9rem;
    line-height: 1.2rem;
    color: var(--neutral-grayish-blue-color);
    text-align: center;
    opacity: .9;
    padding-left: 7vw;
    padding-right: 7vw;
    margin-bottom: 7vh;
    margin-top: 3vh;
}

.choose-easy-bank__reason span{
    padding-top: 3vh;
}

/**** Latest Articles ****/

.latest-articles{
    min-width: 23rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(252, 252, 246, 0.632);
}

.latest-articles h3{
    font-weight: 300;
    font-size: 2.2rem;
    color:var(--primary-dark-blue-color);
    margin-bottom: 3vh;
    margin-top: 5vh;
    margin-right: 30px;
    margin-left:30px;
    text-align: center;
}

.latest-articles__container{
    max-width: 23rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
}

.latest-article{
    display: flex;
    flex-direction: column;
    background-color: var(--neutral-white-color);
}

.latest-article__article{
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 30px;
    color: var(--primary-dark-blue-color);
    font-size: 1.2rem;
    line-height: 1.5rem;
}

.latest-article img{
    max-width: 23rem;
    padding: 3vh 5vw;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;

}

.latest-article__article span{
    font-size: .7rem;
    opacity: .7;
}

.latest-article__article p{
    font-size: .8rem;
    line-height: 1.2rem;
    opacity: .7;
}

footer{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    background-color: var(--primary-dark-blue-color);
    color: var(--neutral-light-grayish-blue);

}

.footer__container--logos{
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
}

.footer-logo-image{
    max-width: 200px;
    align-self: center;
    padding-top: 3vh;
}

.footer__navigation{
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
    list-style: none;
    padding: 20px 30px;
}

.img-icon:hover{
    color:var(--primary-lime-green-color);
    font-weight: 600;

}



.footer__navigation li a{
    padding-left: 15px;

}

.footer__container--links{
    padding-top: 0;
}

.footer__container--links ul,
.footer__container--authors
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer__container--links ul{
    margin-bottom: 2vh;
}


.footer__container--links ul li{
    list-style: none;
}

.footer__container--links ul li a{
    text-decoration: none;
    color: var(--neutral-white-color);
    line-height: 1.5rem;
    font-size: 1rem;
    opacity: .8;
    font-weight: 300;
    cursor: pointer;


}

.footer__container--links ul li a:hover{
    color: var(--primary-lime-green-color);
    font-weight: 600;

}


.footer__container--authors p{
    color: var(--neutral-grayish-blue-color);
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: .9rem;
}

.attribution {
    font-size: 11px;
    text-align: center;
  }

.attribution a {
    color: #fff;
    text-decoration: none;
    opacity: .8;
    cursor: pointer;
  }


  /*** Mobile(<=320px **/
  @media only screen and (min-width: 320px) {
    .horizontal__menu{
        visibility: hidden;
    }
  
    .latest-articles{
        min-width: 20rem;
      
    }
    
    .latest-articles h3{
        font-size: 2rem;
        margin-right: 3vw;
        margin-left:3vw;
    }
    
    .latest-articles__container{
        max-width: 20rem;}
  }
 
  

  @media only screen and (min-width:425px) {
  
    .header__intro{
        margin-top: 10vh;
    }
    .image-mockups{
        width: 90%;
        position: absolute;
        top:10vh;
        left: 0vw;
       }

    .bg-intro-desktop{
        max-height: 95vh;
    }
    
    .bg-intro-mobile{
        opacity: 0;
      
        
    }

  }

 @media only screen and (min-width:768px) {
 .horizontal__menu{
    visibility: hidden;
 }
  
    .header__intro h1{
        padding-top: 3vh;
    }

   
 }


/*** Laptop(Desktop) ***/
@media only screen and (min-width: 1024px) {

    .horizontal__menu{
        visibility: visible;
    }
  
    .reasons-of-choosing-easybank{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-row: 1fr 1fr;
    }

    footer{
        padding-top: 5vh;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;   
    }
    
    .footer-logo-image{
        padding-top: 0;
    }
    
    .footer__navigation,
    .footer__container--links{
        padding-top: auto;
    }

    
    .footer__container--links ul{
        margin-bottom: 2vh;
    }



    
    .latest-articles__container{
        max-width: 20rem;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }
    
    .latest-article{
        display: flex;
        flex-direction: column;
        background-color: var(--neutral-white-color);
    }
    
    .latest-article__article{
        padding-top: 10px;
        padding-bottom: 20px;
        padding-left: 30px;
        color: var(--primary-dark-blue-color);
        font-size: 1.2rem;
        line-height: 1.5rem;
    }
    
    .latest-article img{
        max-width: 23rem;
        padding: 3vh 5vw;
        border-top-left-radius: 30px;
        border-top-right-radius: 30px;
    
    }
    
    .latest-article__article span{
        font-size: .7rem;
        opacity: .7;
    }
    
    .latest-article__article p{
        font-size: .8rem;
        line-height: 1.2rem;
        opacity: .7;
    }

    header{
        display: flex;
        flex-direction: row;
        justify-content:space-between;
        
    }

    .header__intro--paragraph{
        text-align: left;
    }

    .header__intro h1{
        text-align: left;
    }

    .header__intro{
        margin-top: 1vh;
        margin-right: 3vw;
    }
    .image-mockups{
        width: 40%;
        position: absolute;
        bottom: 0;
       }

    .bg-intro-desktop{
        max-height: 100vh;
        max-width: 100vw;


    }
    
    .bg-intro-mobile{
        opacity: 0;
      
        
    }
    


    
}

@media only screen and (min-width: 1440px) {

    .horizontal__menu{
        visibility: visible;
    }
    .reasons-of-choosing-easybank{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-row: 1fr;
    }

     
    .latest-articles__container{
        max-width: 19rem;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        column-gap: 1rem;
    }
    
    .latest-article img{
        max-width: 21rem;
       
    
    }
    .btn{
        padding: 1.7vh 3vw;
    }

    .header__intro{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .latest-article{
        margin-bottom: 3vh;
    }

   
    

}